#wpbody-content {
    background-color: #f4f6f8;    
}
#wpcontent, #wpfooter {
    margin-left: 140px;
}
h1.main-heading{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 1.3;
}
.dlic-header-page {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(200,215,225,0.5), 0 1px 2px #e9eff3;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.dlic-jsapp__container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgba(200, 215, 225, 0.5);
}
ol, ul {
    padding-left: 25px;
    list-style: inherit;
}